<!DOCTYPE html>
<html lang="en">

<!-- THE HEAD TAG PARTIAL -->
<%- include("../partials/head") %>

<body>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("../partials/header") %>

    <a href ="/reminder"><button>Back to Main Page</button></a>

    <h1>Edit Reminder</h1>

    <form action="/reminder/<%=reminder._id%>?_method=PUT" method="POST">
        Title: <input type="text" name="title" placeholder="title" value="<%= reminder.title %>"   /><br />
        Notes: <input type="text" name="note" placeholder="note" value="<%= reminder.note %>" /><br />
        <input type="submit" name="" value= "Update Reminder" />
    </form>
    

    <!-- THE HEAD TAG PARTIAL -->
    <%- include("../partials/footer") %>
</body>
</html>