<!DOCTYPE html>
<html lang="en">

<!-- THE HEAD TAG PARTIAL -->
<%- include("../partials/head") %>

<body>
      <!-- THE HEADER TAG PARTIAL -->
      <%- include("../partials/header") %>

      <a href ="/reminder/new"><button>Add a Reminder</button></a>

      <a href="/auth/logout"><button class="button">Logout</button></a>

      

    <h1>Welcome to the Reminder App</h1><br>
      <ul>

        See all reminders below:
        <%= console.log(reminder.id) %>

        <ul>
          <% for (let i=0; i < reminder.length; i++) { %>
      
                <a href="/reminder/<%= reminder[i].id %>"><%= reminder[i].title %></a> <br>
              <a href ="/reminder/<%= reminder[i].id %>/edit"><button>Edit Reminder</button></a>

              <form action="/reminder/<%= reminder[i]._id %>?_method=delete" method="post">
                <input class="button" type="submit" value="Delete Reminder" />
            </form>
           <% } %>
          </ul>
     
    </ul>

      <!-- THE HEAD TAG PARTIAL -->
      <%- include("../partials/footer") %>
</body>
</html>