<!DOCTYPE html>
<html lang="en">

<!-- THE HEAD TAG PARTIAL -->
<%- include("../partials/head") %>

<body>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("../partials/header") %>

    <a href ="/reminder"><button>Back to Main Page</button></a>

    <h1>Show Reminder</h1>
    
    <h2><%= reminder.title %></h2>
    <p><%= reminder.note %></p>

    <!-- THE HEAD TAG PARTIAL -->
    <%- include("../partials/footer") %>
</body>
</html>